@media (min-width: $mediaFullHD) {
	html {
		font-size: 1.2rem;
	}
}
@media (min-width: $media2K) {
	html {
		font-size: 1.5rem;
	}
}
@media (max-width: $mediaBeforeLaptopL) {
	* [class$="_container"] {
		width: 100%;
		padding-left: 5vw;
		padding-right: 5vw;
	}
}
@media (max-width: $mediaBeforeLaptop) {
	* [class$="_container"] {
		width: 100%;
		padding-left: 2vw;
		padding-right: 2vw;
	}
}
@media (max-width: $mediaBeforeTablet) {
	* [class$="_container"] {
		width: 100%;
		padding-left: 1rem;
		padding-right: 1rem;
	}
}