$main-yellow: #FFB548;
$main-gradient: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);

$media2K: 160em; //2560px
$mediaFullHD: 120.0625em; //1921px
$mediaBeforeLaptopL: 89.9375em; //1439px
$mediaAfterLaptopL: 90.0625em; //1441px
$mediaBeforeLaptop: 63.9375em; //1023px
$mediaBeforeTablet: 47.9375em; //767px
$mediaBeforeMobileL: 26.5em; //424px